<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.admin">
  <update id="updateAdminInfo" parameterType="kr.co.sist.vo.ModifyAdminInfoVO">
  	update mine_admin
  	<set>
  		<if test="password != null and !''.equalsIgnoreCase(password)">
  			password=#{password},
  		</if>
  		<if test="name != null and !''.equalsIgnoreCase(name)">
  			name=#{name}
  		</if>
  	</set>
  	where admin_id=#{admin_id} and (select isremoved from mine_admin where admin_id=#{admin_id}) = 'N'
  </update>
  
  <select id="selectAdminList" resultType="kr.co.sist.domain.Admin">
  	select admin_id, authority, to_char(inputdate, 'yyyy-mm-dd') inputdate, name
  	from mine_admin
  	where isremoved = 'N'
  </select>
  
  <insert id="insertAdmin" parameterType="kr.co.sist.vo.AddAdminVO">
  	insert into mine_admin(admin_id, password, name)
  	values(#{admin_id} , #{password} , #{name})
  </insert>
  
  <update id="updateAuthority" parameterType="kr.co.sist.vo.ChangeAuthorityVO">
  	update mine_admin
  	<if test="authority == 'MANAGER'">
  	set authority = 'ADMIN' 
  	</if>
  	<if test="authority == 'ADMIN'">
  	set authority = 'MANAGER' 
  	</if>
  	where admin_id = #{admin_id}
  </update>
  
  <delete id="deleteAccount" parameterType="String">
  	delete from mine_admin
  	where admin_id = #{admin_id}
  </delete>
</mapper>