<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.sist.login">
	<resultMap type="kr.co.sist.domain.LoginCheckResult" id="LoginCheckResult">
		<result column="name" property="name"/>
		<result column="authority" property="authority"/>
	
	</resultMap>
  <select id="logincheck" resultMap="LoginCheckResult" parameterType="kr.co.sist.vo.LoginCheckVO">
    	select admin_id, authority from admin where admin_id=#{id} and password=#{pass}
  </select>
  
  <select id="diaryTotalCnt" resultType="int">
		select count(*) cnt from INQUIRY_BOARD
	</select>
  
  
  <resultMap type="kr.co.sist.domain.InquiryList" id="ListResult">
		<result column="num" property="num"/>
		<result column="user_id" property="user_id"/>
		<result column="subject" property="subject"/>
		<result column="user_contents" property="user_contents"/>
		<result column="status" property="status"/>
		<result column="w_date" property="w_date"/>
		<result column="views" property="views"/>
	</resultMap>
  
  <select id="inquiryList" resultMap="ListResult" parameterType="kr.co.sist.vo.InquiryPageSetVO">
  
	 	SELECT NUM, USER_ID, SUBJECT, USER_CONTENTS, STATUS, to_char(W_DATE, 'yyyy-mm-dd') as w_date ,views
		FROM (SELECT NUM, USER_ID, SUBJECT, USER_CONTENTS, STATUS, W_DATE,views,
		ROW_NUMBER() OVER( ORDER BY to_number(num) desc ) AS R_NUM
		FROM INQUIRY_BOARD)
        WHERE R_NUM BETWEEN #{startNum} AND #{endNum } 
        
       
           
	</select>
  
  
   	<select id="inquiryDetail" parameterType="int" resultType="kr.co.sist.domain.InquiryDetail">
		select num ,user_id,subject,user_contents,status, to_char(w_date, 'yyyy-mm-dd dy hh24:mi') w_date
        from inquiry_board
        where num=#{num}
	</select>
	

	
	<update id="insertReply" parameterType="kr.co.sist.vo.InquiryReplyVO">
	update inquiry_board
	set ADMIN_ID =#{admin_id},
	R_CONTENTS=#{r_contents},
	R_DATE=sysdate,
	status='Y'
	where num = #{num}
	
	</update>
	
	<select id="readreply" parameterType="int" resultType="kr.co.sist.domain.InquiryReply">
	select admin_id,r_contents,to_char(r_DATE, 'yyyy-mm-dd') as r_date 
	from inquiry_board 
	where num=#{num}
	
	</select>
	<delete id="deleteUserInquiry" parameterType="int" >
	delete from inquiry_board
	where num = #{num}
	</delete>
	
	<update id="updatere" parameterType="int">
	update inquiry_board
	set admin_id='',r_contents='',r_date='',status='N'
	where num = #{num}
	</update>
	
	<!-- 아래 는 review  -->
	<select id="reviewcnt" resultType="int">
	select count(*) cnt from review_board
	</select>
	
	<resultMap type="kr.co.sist.domain.ReviewList" id="reviewresult">
		<result column="re_num" property="re_num"/>
		<result column="user_id" property="user_id"/>
		<result column="re_title" property="re_title"/>
		<result column="re_inputdate" property="re_inputdate"/>
		<result column="re_cnt" property="re_cnt"/>
	</resultMap>
	
	<select id="reviewlist" resultMap="reviewresult" parameterType="kr.co.sist.vo.ReviewPageSetVO">
	SELECT re_num, user_id, re_title, to_char(re_inputdate, 'yyyy-mm-dd') as re_inputdate ,re_cnt
	FROM (SELECT re_num, user_id, re_title,re_inputdate ,re_cnt,
	ROW_NUMBER() OVER( ORDER BY to_number(re_num) desc ) AS R_NUM
	FROM review_board)
	WHERE R_NUM BETWEEN #{startNum} AND #{endNum}
	</select>
	
	<resultMap type="kr.co.sist.domain.ReviewDetail" id="reviewselect">
		<result column="re_num" property="re_num"/>
		<result column="user_id" property="user_id"/>
		<result column="re_title" property="re_title"/>
		<result column="re_contents" property="re_contents"/>
		<result column="re_inputdate" property="re_inputdate"/>
		<result column="re_cnt" property="re_cnt"/>
	</resultMap>
	
	<select id="reviewread" resultMap="reviewselect" parameterType="int">
		SELECT re_num, user_id, re_title,re_contents, to_char(re_inputdate, 'yyyy-mm-dd') as re_inputdate ,re_cnt
		from review_board
		where re_num=#{num}
	
	</select>
	<select id="reviewcommentcnt" resultType="int">
	select count(*) cnt from review_comment where re_num=#{num}
	</select>
	<resultMap type="kr.co.sist.domain.ReviewComment" id="reviewcommentread">
		<result column="re_num" property="re_num"/>
		<result column="user_id" property="user_id"/>
		<result column="com_contents" property="com_contents"/>
		<result column="com_inputdate" property="com_inputdate"/>
		<result column="com_num" property="com_num"/>
	</resultMap>
	
	<select id="reviewcomment" resultMap="reviewcommentread" parameterType="int">
	SELECT re_num,user_id,com_contents,to_char(com_inputdate, 'yyyy-mm-dd') as com_inputdate,com_num
	FROM (SELECT re_num,user_id,com_contents,com_inputdate,com_num
	FROM review_comment
	ORDER BY (com_inputdate) desc )
	WHERE re_num=#{num}
	</select>
	<delete id="deletereview" parameterType="int">
	delete from review_board
	where re_num = #{num} 
	</delete>
	
	<delete id="deletecomment" parameterType="int">
	delete from review_comment
	where com_num = #{num}
	</delete>
	
  

</mapper>